@charset "UTF-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ul,
ol,
li,
button,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

mark {
  background-color: transparent;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
th {
  font-weight: inherit;
}

ul,
ol,
li {
  list-style: none;
}

i,
em,
address,
cite {
  font-style: inherit;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid red;
}

fieldset {
  border: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

textarea,
input {
  font-size: inherit;
  font-family: inherit;
}

.blind,
hr,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

q:before,
q:after {
  content: "";
}

@font-face {
  font-family: "yleeMortalHeartImmortalMemory";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/yleeMortalHeartImmortalMemory.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MaplestoryOTFBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HallymGothic-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
.hide {
  display: none;
}

body {
  font-family: "HallymGothic-Regular";
  color: #010326;
}

h1,
h2,
h3,
h4 {
  font-family: "MaplestoryOTFBold";
}

.container {
  height: 100%;
  padding: 6em 0 1em;
  box-sizing: border-box;
  overflow: scroll;
  position: relative;
  z-index: 10;
}
.container h2 {
  font-size: 1.25em;
  text-align: center;
}

.App {
  background-color: #f2f2f2;
}

.header {
  width: 100%;
  height: 5em;
  padding: 0 3em;
  background-color: #f2f2f2;
  border-bottom: 2px double #010326;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}
.header h1 img {
  height: 4em;
}
.header nav {
  flex-basis: 40%;
  min-width: 18.75em;
}
.header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 1.5em;
  color: #010326;
  font-family: "yleeMortalHeartImmortalMemory";
}
.header ul li:hover {
  color: #0528f2;
}

main {
  height: 90vh;
  padding: 0 0.5em 0;
  box-sizing: border-box;
}

footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background: #010326;
  color: #f2f2f2;
  font-family: "yleeMortalHeartImmortalMemory";
  font-size: 1.2em;
  text-align: center;
}

.Card {
  height: 100vh;
  position: relative;
  font-size: 1.25em;
  font-family: "yleeMortalHeartImmortalMemory";
  z-index: 10;
}
.Card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../assets/background.jpg) bottom center/cover;
  z-index: -1;
}
.Card .businessCard {
  width: 50%;
  min-height: 15em;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.5s;
  transform-style: preserve-3d;
}
.Card .businessCard .commonCard {
  width: 100%;
  height: 100%;
  padding: 1em;
  position: absolute;
  box-sizing: border-box;
  box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.63);
}
.Card .businessCard .front {
  backface-visibility: hidden;
  background: url("../assets/증명사진.jpg") #f2f2f2 no-repeat right 1em center/10em;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
}
.Card .businessCard header {
  margin-top: 3.5em;
}
.Card .businessCard header h3 {
  font-size: 1.5em;
  font-family: "yleeMortalHeartImmortalMemory";
}
.Card .businessCard header h3::after {
  content: " / YouSoonSang";
}
.Card .businessCard header h3::before {
  content: "";
  width: 3em;
  height: 2.66em;
  background: url("../assets/sign.png") no-repeat center/contain;
  position: absolute;
  top: 1.53em;
  left: 7.23em;
}
.Card .businessCard header p {
  font-size: 1.25em;
  margin: 1em 0.5em 0;
}
.Card .businessCard .address {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin: 0 0.5em 0.5em;
}
.Card .businessCard .address li:nth-child(2) {
  margin: 0 1em;
}
.Card .businessCard .address li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.Card .businessCard .address li svg {
  width: 1.2em;
  height: 1.2em;
  color: #010326;
}
.Card .back {
  background: url("../assets/증명사진2.png") #f2f2f2 no-repeat right 1em center/10em;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.Card .back .intro {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 100%;
  flex-direction: column;
  color: #010326;
}

.Introduce {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
}
.Introduce .imgWrapper {
  flex-basis: 40%;
  margin: 0 1em;
  border: 2px double #010326;
  box-sizing: border-box;
  background: url("../assets/사진.jpg") no-repeat center center/cover;
}
.Introduce .descWrapper {
  flex-basis: 40%;
  margin: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
}
.Introduce .descWrapper blockquote {
  padding: 1em;
  border: 2px double #010326;
  box-sizing: border-box;
  flex-basis: 30%;
  background: url("../assets/grass.png") no-repeat right 10% top 20%/50px;
}
.Introduce .descWrapper blockquote p {
  font-size: 1em;
  line-height: 1.7;
}
.Introduce .descWrapper blockquote cite {
  margin-top: 1em;
  font-size: 1em;
  display: block;
  font-family: "yleeMortalHeartImmortalMemory";
  text-align: right;
}
.Introduce .descWrapper blockquote cite::after, .Introduce .descWrapper blockquote cite::before {
  content: " - ";
}
.Introduce .descWrapper .descTitle {
  flex-basis: 60%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: left;
  box-sizing: border-box;
  border: 2px double #010326;
}
.Introduce .descWrapper .descTitle h3 {
  font-size: 1.25em;
  margin-bottom: 1em;
}
.Introduce .descWrapper .descTitle h3::after, .Introduce .descWrapper .descTitle h3:before {
  content: '"';
}
.Introduce .descWrapper .descTitle p {
  margin: 0.2em 0;
  line-height: 1.5;
}

.Skill {
  border-left: 2px double #010326;
  border-right: 2px double #010326;
}
.Skill .skillBoard {
  width: 90%;
  margin: 1em auto 0;
  border: 2px double #010326;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.Skill .skillBoard button {
  margin: 0 1em;
}
.Skill .skillBoard img {
  width: 100%;
}
.Skill .skillDesc {
  width: 90%;
  margin: 1em auto 0;
  padding: 1em;
  position: relative;
  box-sizing: border-box;
  border: 7px solid burlywood;
  background-color: #2c3e36;
}
.Skill .skillDesc p {
  margin: 0.5em 0;
  color: #f2f2f2;
}
.Skill .skillDesc p::before {
  content: " - ";
}
.Skill .skillDesc p::after {
  content: "";
  width: 3.125em;
  height: 0.625em;
  background-color: #f2f2f2;
  position: absolute;
  right: 30%;
  bottom: 0;
}

.Project .buttonWrapper {
  width: 75%;
  min-height: 25em;
  margin: 0 auto;
  position: relative;
}
.Project .projectWrapper {
  width: 85%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 4px double #010326;
  overflow: hidden;
}
.Project .projectWrapper .projectSlide {
  width: 200%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s all;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  z-index: 10;
}
.Project .projectWrapper .projectSlide .projectItem {
  width: 50%;
  height: 50%;
  position: relative;
  padding: 1em;
  box-sizing: border-box;
  font-size: 0.875em;
}
.Project .projectWrapper .projectSlide .projectItem h4 {
  font-size: 1.3em;
  margin-bottom: 1em;
  text-align: center;
}
.Project .projectWrapper .projectSlide .projectItem .flexWrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
  flex-direction: column;
}
.Project .projectWrapper .projectSlide .projectItem dl {
  margin-bottom: 0.4em;
}
.Project .projectWrapper .projectSlide .projectItem .oneLine {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.Project .projectWrapper .projectSlide .projectItem .oneLine dt {
  white-space: nowrap;
}
.Project .projectWrapper .projectSlide .projectItem .oneLine dt:after {
  content: " : ";
}
.Project .projectWrapper .projectSlide .projectItem .oneLine dd {
  margin-left: 0.4em;
}
.Project .projectWrapper .projectSlide .projectItem .multiLine dt {
  margin-bottom: 0.4em;
}
.Project .projectWrapper .projectSlide .projectItem .multiLine li {
  line-height: 1.6;
}
.Project .projectWrapper .projectSlide .projectItem .multiLine li::before {
  content: " - ";
}
.Project .projectWrapper .projectSlide .projectItem .simpleDesc {
  width: 100%;
  padding: 0.6em 0;
  margin-bottom: 0.4em;
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px;
  color: #0528f2;
  background-color: gainsboro;
}
.Project .projectWrapper .projectSlide .projectItem .skillStack {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.Project .projectWrapper .projectSlide .projectItem .skillStack li {
  margin-right: 5px;
}
.Project .projectWrapper .projectSlide .projectItem .screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  transition: 0.3s all;
}
.Project .projectWrapper .projectSlide .projectItem .screen:hover {
  opacity: 0;
}
.Project .projectBtn {
  padding: 1em;
  position: absolute;
  z-index: 100;
}
.Project .projectBtn img {
  width: 1.25em;
  height: 2.5em;
}
.Project .projectBtn.top {
  top: -1em;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}
.Project .projectBtn.bottom {
  bottom: -1em;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
}
.Project .projectBtn.left {
  top: 50%;
  left: 1.3em;
  transform: translateY(-50%);
}
.Project .projectBtn.right {
  top: 50%;
  right: 1.3em;
  transform: translateY(-50%) rotate(-180deg);
}

.Experience h3 {
  padding-bottom: 1em;
  font-size: 1.25em;
  text-align: center;
  border-bottom: 2px double #010326;
}
.Experience section {
  padding: 0 5em;
  margin-bottom: 3em;
}
.Experience .study .studyItem {
  margin-top: 2em;
}
.Experience .study .studyItem h4 {
  font-size: 1.125em;
  color: #0528f2;
  margin-bottom: 0.5em;
}
.Experience .study .studyItem p {
  padding: 0.5em 0.5em;
  border-radius: 10px;
  background-color: #010326;
  color: #f2f2f2;
  word-break: keep-all;
}
.Experience .study .studyItem ul {
  margin-top: 0.5em;
  padding-left: 0.5em;
}
.Experience .study .studyItem ul li {
  line-height: 1.8em;
}
.Experience .study .studyItem ul li::before {
  content: " - ";
}
.Experience .education .educationItem {
  margin: 0.5em 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.Experience .education .educationItem h4 {
  font-size: 1.125em;
}
.Experience .education .educationItem p:before {
  content: "/";
  margin-left: 0.5em;
}

/*# sourceMappingURL=common.css.map */
