@charset "UTF-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ul,
ol,
li,
button,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

mark {
  background-color: transparent;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
th {
  font-weight: inherit;
}

ul,
ol,
li {
  list-style: none;
}

i,
em,
address,
cite {
  font-style: inherit;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid red;
}

fieldset {
  border: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

textarea,
input {
  font-size: inherit;
  font-family: inherit;
}

.blind,
hr,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

q:before,
q:after {
  content: "";
}

@font-face {
  font-family: "yleeMortalHeartImmortalMemory";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/yleeMortalHeartImmortalMemory.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MaplestoryOTFBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HallymGothic-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
.hide, .header .menuCont {
  display: none;
}

body {
  font-family: "HallymGothic-Regular";
  color: #0f1d2b;
  background-color: #f5f6ee;
}

h1,
h2,
h3,
h4 {
  font-family: "MaplestoryOTFBold";
}

html,
body {
  height: 100%;
}

#root,
.App {
  height: 100%;
}

main {
  max-width: 1200px;
  height: 94%;
  margin: 0 auto;
  border-left: 2px double #0f1d2b;
  border-right: 2px double #0f1d2b;
}

.container {
  height: 100%;
  padding: 6em 1em 1em;
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  overflow: scroll;
}
.container::-webkit-scrollbar {
  display: none;
}
.container h2 {
  font-size: 1.25em;
  text-align: center;
}

.address {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin: 0 0.5em 0.5em;
}
.address li:nth-child(2) {
  margin: 0 1em;
}
.address li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.address li svg {
  width: 1.2em;
  height: 1.2em;
  color: #0f1d2b;
}

@media screen and (max-width: 1200px) {
  .App {
    font-size: 13px;
  }
}
@media screen and (max-width: 700px) {
  .App {
    font-size: 11px;
  }
}
@media screen and (max-width: 400px) {
  .App {
    font-size: 9px;
  }
}
.header {
  padding: 0.2em 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 20;
  border-bottom: 2px double #0f1d2b;
  background-color: #f5f6ee;
}
.header .headerCont {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header h1 {
  margin-left: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header h1 img {
  height: 4em;
}
.header .menuCont {
  position: relative;
}
.header .menuCont .menu {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s all;
}
.header .menuCont .menu div {
  position: absolute;
  width: 20px;
  height: 3.5px;
  background-color: #0f1d2b;
  border-radius: 10px;
  transition: 1s all;
}
.header .menuCont .menu div:nth-child(1) {
  transform: rotate(58deg);
  top: 9px;
  left: 4.5px;
}
.header .menuCont .menu div:nth-child(2) {
  transform: rotate(-58deg);
  top: 9px;
  left: -4.5px;
}
.header .menuCont .menu div:nth-child(3) {
  width: 22px;
  bottom: 0px;
  left: -1px;
}
.header .menuCont .menu:hover div {
  background-color: #ffb000;
}
.header .menuCont .menu:hover div:nth-child(1) {
  transform: rotate(0);
  top: 0;
  left: 0;
}
.header .menuCont .menu:hover div:nth-child(2) {
  transform: rotate(0) translateY(-50%);
  top: 50%;
  left: 0;
}
.header .menuCont .menu:hover div:nth-child(3) {
  width: 20px;
  bottom: 0;
  left: 0;
}
.header nav {
  margin-right: 1em;
}
.header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 1.5em;
  font-family: "yleeMortalHeartImmortalMemory";
}
.header nav ul li {
  margin-left: 6.94vw;
}
.header nav ul li:hover {
  color: #ffb000;
}
.header nav ul button {
  position: relative;
}
.header nav ul button.on::before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 5px;
  left: 0;
  border-radius: 5px;
  opacity: 0.5;
  background-color: #ffb000;
}
.header nav .close {
  display: none;
}

@media screen and (max-width: 1200px) {
  .header .headerCont {
    max-width: 1000px;
  }
}
@media screen and (max-width: 700px) {
  .header .headerCont {
    max-width: 600px;
  }
}
@media screen and (max-width: 400px) {
  .header .headerCont {
    max-width: 350px;
  }
  .header .menuCont {
    right: 25px;
    display: block;
  }
  .header nav {
    position: fixed;
    top: 0;
    right: -150px;
    width: 30%;
    height: 100%;
    background-color: #f5f6ee;
    transition: 0.5s all;
  }
  .header nav ul {
    display: block;
    margin-top: 30px;
  }
  .header nav ul li {
    margin: 10px 10px;
  }
  .header nav ul li::before {
    content: " - ";
  }
  .header nav ul button.on::before {
    bottom: 3px;
  }
  .header nav .close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    z-index: 10;
  }
  .header nav.navMode {
    right: -10px;
  }
}
footer {
  padding: 0.8em 0 1em;
  position: relative;
  z-index: 10;
  text-align: center;
  font-size: 1.2em;
  font-family: "yleeMortalHeartImmortalMemory";
  color: #f5f6ee;
  background: #0f1d2b;
}
footer .address {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
footer .address li:nth-child(2) {
  margin: 0 1em;
}
footer .address li svg {
  color: #f5f6ee;
}

.Card {
  height: 100vh;
  position: relative;
  font-size: 1.25em;
  font-family: "yleeMortalHeartImmortalMemory";
  z-index: 10;
}
.Card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../assets/background.jpg) bottom center/cover;
  z-index: -1;
}
.Card .businessCard {
  width: 50%;
  max-width: 800px;
  min-height: 15em;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.5s;
  transform-style: preserve-3d;
}
.Card .businessCard .commonCard {
  width: 100%;
  height: 100%;
  padding: 1em;
  position: absolute;
  box-sizing: border-box;
  box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.63);
}
.Card .businessCard .front {
  backface-visibility: hidden;
  background: url("../assets/증명사진.jpg") #f5f6ee no-repeat right 1em center/10em;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
}
.Card .businessCard header {
  margin-top: 3.5em;
}
.Card .businessCard header h3 {
  font-size: 1.5em;
  font-family: "yleeMortalHeartImmortalMemory";
}
.Card .businessCard header h3::after {
  content: " / YouSoonSang";
}
.Card .businessCard header h3::before {
  content: "";
  width: 3em;
  height: 2.66em;
  background: url("../assets/sign.png") no-repeat center/contain;
  position: absolute;
  top: 1.53em;
  left: 7.23em;
}
.Card .businessCard header p {
  font-size: 1.25em;
  margin: 1em 0.5em 0;
}
.Card .back {
  background: url("../assets/증명사진2.png") #f5f6ee no-repeat right 1em center/10em;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.Card .back .intro {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 100%;
  flex-direction: column;
  color: #0f1d2b;
}

@media screen and (max-width: 800px) {
  .Card .businessCard {
    width: 60%;
  }
  .Card .businessCard .commonCard {
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.63);
  }
  .Card .businessCard header {
    margin-top: 3.5em;
  }
  .Card .businessCard header h3 {
    font-size: 1.2em;
  }
  .Card .businessCard header h3::before {
    width: 2.5em;
    height: 2em;
    top: 2.9em;
  }
  .Card .businessCard header p {
    font-size: 1.1em;
  }
  .Card .back {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 500px) {
  .Card .businessCard {
    width: 80%;
  }
}
.Introduce .introWapper {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}
.Introduce .introWapper .imgWrapper {
  width: 30%;
  margin-right: 1em;
  border: 2px double #0f1d2b;
  background: url("../assets/introduce/사진.jpg") no-repeat center center/cover;
}
.Introduce .introWapper .descTitle {
  padding: 1em;
  box-sizing: border-box;
  border: 2px double #0f1d2b;
}
.Introduce .introWapper .descTitle h3 {
  font-size: 1.25em;
  margin-bottom: 0.4em;
  color: #ffb000;
}
.Introduce .introWapper .descTitle h3::after, .Introduce .introWapper .descTitle h3:before {
  content: '"';
}
.Introduce .introWapper .descTitle p {
  margin: 0.2em 0;
  line-height: 1.3;
  word-break: keep-all;
}
.Introduce .introWapper .descTitle li {
  margin-top: 0.5em;
}
.Introduce .introWapper .descTitle li p:nth-child(1) {
  font-family: "MaplestoryOTFBold";
}
.Introduce .introWapper .descTitle li p:nth-child(1):before {
  content: " 💡 ";
  color: #ffb000;
}
.Introduce .wiseWapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}
.Introduce .wiseWapper blockquote {
  width: 70%;
  padding: 1em;
  border: 2px double #0f1d2b;
  box-sizing: border-box;
  background: url("../assets/introduce/grass.png") no-repeat right 8% top 10%/3.125em;
}
.Introduce .wiseWapper blockquote p {
  font-size: 1em;
  line-height: 1.5;
}
.Introduce .wiseWapper blockquote p strong {
  position: relative;
}
.Introduce .wiseWapper blockquote p strong::before {
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  opacity: 0.5;
  border-radius: 10px;
  background-color: #ffb000;
}
.Introduce .wiseWapper blockquote cite {
  margin-top: 0.7em;
  font-size: 1em;
  display: block;
  text-align: right;
  font-family: "yleeMortalHeartImmortalMemory";
}
.Introduce .wiseWapper blockquote cite::after, .Introduce .wiseWapper blockquote cite::before {
  content: " - ";
}
.Introduce .wiseWapper div {
  width: 30%;
  margin-left: 1em;
  border: 2px double #0f1d2b;
  background: url(../assets/introduce/introImg.png) center center/contain no-repeat;
}

@media screen and (max-width: 800px) {
  .Introduce .introWapper {
    display: block;
  }
  .Introduce .introWapper .imgWrapper {
    width: auto;
    height: 200px;
    margin-right: 0;
    box-sizing: border-box;
    background: url("../assets/introduce/사진.jpg") no-repeat center -100px/cover;
  }
}
@media screen and (max-width: 510px) {
  .Introduce .introWapper .imgWrapper {
    background: url("../assets/introduce/사진.jpg") no-repeat center -50px/cover;
  }
  .Introduce .wiseWapper {
    display: block;
  }
  .Introduce .wiseWapper blockquote {
    width: auto;
  }
  .Introduce .wiseWapper div {
    display: none;
  }
}
.Skill .skillBoard {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
  border: 2px double #0f1d2b;
  border-radius: 10px;
}
.Skill .skillBoard button {
  margin: 1em 0.5em;
}
.Skill .skillBoard img {
  max-height: 8.75em;
}
.Skill .skillDesc {
  margin: 1em auto 0;
  padding: 1em;
  position: relative;
  box-sizing: border-box;
  border: 7px solid burlywood;
  background-color: #2c3e36;
}
.Skill .skillDesc p {
  margin: 0.5em 0;
  color: #f5f6ee;
}
.Skill .skillDesc p::before {
  content: " - ";
}
.Skill .skillDesc p::after {
  content: "";
  width: 3.125em;
  height: 0.625em;
  background-color: #f5f6ee;
  position: absolute;
  right: 30%;
  bottom: 0;
}

@media screen and (max-width: 800px) {
  .Skill .skillBoard img {
    max-height: 7em;
  }
}
@media screen and (max-width: 500px) {
  .Skill .skillBoard img {
    max-height: 5em;
  }
}
.Project {
  position: relative;
}
.Project .buttonWrapper {
  width: 75%;
  min-height: 25em;
  margin: 1em auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  z-index: 10;
}
.Project .projectWrapper {
  width: 92%;
  min-height: 20em;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  border: 4px double #0f1d2b;
  overflow: hidden;
  background-color: #f5f6ee;
}
.Project .projectWrapper .projectSlide {
  width: 200%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s all;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.Project .projectWrapper .projectSlide .projectItem {
  width: 50%;
  height: 50%;
  padding: 1em;
  position: relative;
  overflow: scroll;
  box-sizing: border-box;
  font-size: 0.875em;
}
.Project .projectWrapper .projectSlide .projectItem header {
  position: relative;
}
.Project .projectWrapper .projectSlide .projectItem header h4 {
  font-size: 1.3em;
  margin-bottom: 1em;
  text-align: center;
}
.Project .projectWrapper .projectSlide .projectItem header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  right: 0;
}
.Project .projectWrapper .projectSlide .projectItem header ul li {
  margin-right: 1em;
}
.Project .projectWrapper .projectSlide .projectItem header ul li svg {
  width: 2em;
  height: 2em;
}
.Project .projectWrapper .projectSlide .projectItem .flexWrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
  flex-direction: column;
}
.Project .projectWrapper .projectSlide .projectItem dl {
  margin-bottom: 0.4em;
}
.Project .projectWrapper .projectSlide .projectItem .oneLine {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.Project .projectWrapper .projectSlide .projectItem .oneLine dt {
  white-space: nowrap;
}
.Project .projectWrapper .projectSlide .projectItem .oneLine dt:after {
  content: " : ";
}
.Project .projectWrapper .projectSlide .projectItem .oneLine dd {
  margin-left: 0.4em;
}
.Project .projectWrapper .projectSlide .projectItem .multiLine dt {
  margin-bottom: 0.4em;
}
.Project .projectWrapper .projectSlide .projectItem .multiLine li {
  line-height: 1.6;
  word-break: keep-all;
}
.Project .projectWrapper .projectSlide .projectItem .multiLine li::before {
  content: " - ";
}
.Project .projectWrapper .projectSlide .projectItem .simpleDesc {
  width: 100%;
  padding: 0.6em 0;
  margin-bottom: 1.5em;
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px;
  color: #f5f6ee;
  background-color: #0f1d2b;
}
.Project .projectWrapper .projectSlide .projectItem .skillStack {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.Project .projectWrapper .projectSlide .projectItem .skillStack li {
  margin-right: 5px;
}
.Project .projectBtn {
  position: absolute;
  z-index: 100;
}
.Project .projectBtn img {
  width: 1.25em;
  height: 2.5em;
}
.Project .projectBtn.top {
  top: -0.5em;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}
.Project .projectBtn.bottom {
  bottom: -0.5em;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
}
.Project .projectBtn.left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.Project .projectBtn.right {
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(-180deg);
}
.Project .notionLink {
  width: 70%;
  margin: 0 auto;
  color: #17456b;
}
.Project .bg {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.5;
  z-index: -10;
}

@media screen and (max-width: 800px) {
  .Project .buttonWrapper {
    width: 90%;
    min-height: 23em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    z-index: 10;
  }
  .Project .projectWrapper {
    width: 90%;
  }
  .Project .projectBtn img {
    width: 1em;
    height: 2em;
  }
  .Project .projectBtn.top {
    top: -1em;
  }
  .Project .projectBtn.bottom {
    bottom: -1em;
  }
  .Project .notionLink {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .Project .buttonWrapper {
    width: 90%;
  }
  .Project .notionLink {
    width: 80%;
    margin: 10px auto 0;
  }
}
@media screen and (max-width: 400px) {
  .Project .buttonWrapper {
    width: 100%;
  }
  .Project .notionLink {
    width: 90%;
  }
}
.Experience h3 {
  padding-left: 1em;
  padding-bottom: 0.5em;
  font-size: 1.25em;
  text-align: left;
  border-bottom: 2px double #0f1d2b;
}
.Experience section {
  padding: 0 5em;
  margin-bottom: 3em;
}
.Experience .study h3::before {
  content: "📚 ";
  margin-right: 0.2em;
}
.Experience .study .studyItem {
  margin-top: 2em;
}
.Experience .study .studyItem h4 {
  font-size: 1.125em;
  color: #17456b;
  margin-bottom: 0.5em;
}
.Experience .study .studyItem p {
  padding: 0.5em 0.5em;
  border-radius: 10px;
  background-color: #0f1d2b;
  color: #f5f6ee;
  word-break: keep-all;
}
.Experience .study .studyItem ul {
  margin-top: 0.5em;
  padding-left: 0.5em;
}
.Experience .study .studyItem ul li {
  line-height: 1.8em;
}
.Experience .study .studyItem ul li::before {
  content: " - ";
}
.Experience .education h3::before {
  content: "🎓 ";
  margin-right: 0.2em;
}
.Experience .education .educationItem {
  margin: 0.5em 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.Experience .education .educationItem h4 {
  font-size: 1.125em;
}
.Experience .education .educationItem p:before {
  content: "/";
  margin-left: 0.5em;
}

/*# sourceMappingURL=common.css.map */
