@charset "utf-8";
html,
body {
  height: 100%;
}
#root,
.App {
  height: 100%;
}

main {
  width: 1200px;
  height: 94%;
  margin: 0 auto;
  border-left: 2px double $black;
  border-right: 2px double $black;
}

.container {
  height: 100%;
  padding: 6em 1em 1em;
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  h2 {
    font-size: 1.25em;
    text-align: center;
  }
}

.address {
  @include flex($a: stretch, $j: flex-start);
  margin: 0 0.5em 0.5em;
  li {
    &:nth-child(2) {
      margin: 0 1em;
    }
    a {
      @include flex($a: center, $j: center);
    }
    svg {
      width: 1.2em;
      height: 1.2em;
      color: $black;
    }
  }
}
