@charset "utf-8";
.header {
  width: 100%;
  padding: 0.2em 6em;
  @include flex($a: center);
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 20;
  border-bottom: 2px double $black;
  background-color: $white;
  h1 {
    @include flex($a: center);
    img {
      height: 4em;
    }
  }
  nav {
    flex-basis: 45%;
    //300px
    min-width: 18.75em;
  }
  ul {
    @include flex($a: center);
    font-size: 1.5em;
    font-family: $fontMemories;
    li:hover {
      color: $yellow;
    }
  }
}

main {
  min-height: 95vh;
}

footer {
  height: 5vh;
  @include flex($a: center, $j: center);
  font-size: 1.2em;
  font-family: $fontMemories;
  color: $white;
  background: $black;
}
