@charset "utf-8";

.Card {
  height: 100vh;
  position: relative;
  font-size: 1.25em;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/background.jpg) bottom center/cover;
    z-index: -1;
  }
  .businessCard {
    width: 50%;
    min-height: 15em;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.5s;
    transform-style: preserve-3d;
    .commonCard {
      width: 100%;
      height: 100%;
      padding: 1em;
      position: absolute;
      box-sizing: border-box;
      box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.63);
    }
    .front {
      backface-visibility: hidden;
      background: url("../assets/증명사진.jpg") $white no-repeat right
        1em center/10em;
      @include flex();
      flex-direction: column;
    }
    header {
      margin-top: 3.5em;
      h3 {
        font-size: 1.5em;
        font-family: $fontMemories;
        &::after {
          content: " / YouSoonSang";
        }
        &::before {
          content: "";
          width: 3em;
          height: 2.66em;
          background: url("../assets/sign.png") no-repeat center/contain;
          position: absolute;
          top: 1.53em;
          left: 7.23em;
        }
      }
      p {
        font-size: 1.25em;
        margin: 1em 0.5em 0;
      }
    }
    .address {
      @include flex($a: stretch, $j: flex-start);
      margin: 0 0.5em 0.5em;
      li {
        &:nth-child(2) {
          margin: 0 1em;
        }
        a {
          @include flex($a: center, $j: center);
        }
        svg {
          width: 1.2em;
          height: 1.2em;
          color: $black;
        }
      }
    }
  }
  .back {
    background: url("../assets/증명사진2.png") $white no-repeat right 1em
      center/10em;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    .intro {
      @include flex($j: space-evenly);
      height: 100%;
      flex-direction: column;
      color: $black;
    }
  }
}
