@charset "utf-8";

.Introduce {
  @include flex($j: space-around);
  .imgWrapper {
    width: 30%;
    min-height: 80vh;
    border: 2px double $black;
    background: url("../assets/사진.jpg") no-repeat center center/cover;
  }
  .descWrapper {
    width: 50%;
    @include flex;
    flex-direction: column;
    blockquote {
      padding: 1em;
      border: 2px double $black;
      box-sizing: border-box;
      background: url("../assets/grass.png") no-repeat right 10% top 20%/50px;
      p {
        font-size: 0.9em;
        line-height: 1.7;
      }
      cite {
        margin-top: 1em;
        font-size: 0.9em;
        display: block;
        text-align: right;
        font-family: $fontMemories;
        &::after,
        &::before {
          content: " - ";
        }
      }
    }
    .descTitle {
      flex-grow: 1;
      margin-top: 1em;
      padding: 1em;
      @include flex($j: center);
      flex-direction: column;
      box-sizing: border-box;
      border: 2px double $black;
      h3 {
        font-size: 1.25em;
        margin-bottom: 0.4em;
        &::after,
        &:before {
          content: "\0022";
        }
      }
      p {
        margin: 0.2em 0;
        line-height: 1.35;
      }
    }
  }
}
