@charset "utf-8";

.Introduce {
  .introWapper {
    margin-bottom: 1em;
    @include flex;
    .imgWrapper {
      width: 30%;
      margin-right: 1em;
      border: 2px double $black;
      background: url("../assets/introduce/사진.jpg") no-repeat center
        center/cover;
    }
    .descTitle {
      padding: 1em;
      box-sizing: border-box;
      border: 2px double $black;
      h3 {
        font-size: 1.25em;
        margin-bottom: 0.4em;
        color: $yellow;
        &::after,
        &:before {
          content: "\0022";
        }
      }
      p {
        margin: 0.2em 0;
        line-height: 1.5;
        word-break: keep-all;
      }
      li {
        margin-top: 1em;
        p:nth-child(1) {
          font-family: $title;
        }
        p:nth-child(1):before {
          content: " 💡 ";
          color: $yellow;
        }
      }
    }
  }
  .wiseWapper {
    @include flex;
    blockquote {
      width: 70%;
      padding: 1em;
      border: 2px double $black;
      box-sizing: border-box;
      background: url("../assets/introduce/grass.png") no-repeat right 8% top
        10%/3.125em;
      p {
        font-size: 1em;
        line-height: 1.5;
        strong {
          position: relative;
        }
        strong::before {
          width: 100%;
          height: 5px;
          position: absolute;
          bottom: 0;
          left: 0;
          content: "";
          opacity: 0.5;
          border-radius: 10px;
          background-color: $yellow;
        }
      }
      cite {
        margin-top: 0.7em;
        font-size: 1em;
        display: block;
        text-align: right;
        font-family: $fontMemories;
        &::after,
        &::before {
          content: " - ";
        }
      }
    }
    div {
      width: 30%;
      margin-left: 1em;
      border: 2px double $black;
      background: url(../assets/introduce/introImg.png) center center/contain
        no-repeat;
    }
  }
}

@media screen and (max-width: 800px) {
  .Introduce {
    .introWapper {
      display: block;
      .imgWrapper {
        width: auto;
        height: 200px;
        margin-right: 0;
        box-sizing: border-box;
        background: url("../assets/introduce/사진.jpg") no-repeat center -100px /
          cover;
      }
    }
  }
}

@media screen and (max-width: 510px) {
  .Introduce {
    @include flex($a: center, $j: center);
    flex-direction: column;
    .introWapper {
      .imgWrapper {
        background: url("../assets/introduce/사진.jpg") no-repeat center -50px /
          cover;
      }
    }
    .wiseWapper {
      width: 100%;
      display: block;
      blockquote {
        width: auto;
      }
      div {
        display: none;
      }
    }
  }
}
