@charset "utf-8";

.Skill {
  .skillBoard {
    margin-top: 1.5em;
    @include flex($a: center);
    box-sizing: border-box;
    border: 2px double $black;
    border-radius: 10px;
    button {
      margin: 1em 0.5em;
    }
    img {
      max-height: 8.75em;
    }
  }

  .skillDesc {
    margin: 1em auto 0;
    padding: 1em;
    position: relative;
    box-sizing: border-box;
    border: 7px solid burlywood;
    background-color: #2c3e36;
    p {
      margin: 0.5em 0;
      color: $white;
      &::before {
        content: " - ";
      }
      &::after {
        content: "";
        width: 3.125em;
        height: 0.625em;
        background-color: $white;
        position: absolute;
        right: 30%;
        bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .Skill {
    .skillBoard {
      img {
        max-height: 7em;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .Skill {
    .skillBoard {
      img {
        max-height: 5em;
      }
    }
  }
}
