@charset "utf-8";

.Skill {
  border-left: 2px double $black;
  border-right: 2px double $black;
  h2 {
    font-size: 1.25em;
    text-align: center;
  }

  .skillBoard {
    width: 90%;
    margin: 1em auto 0;
    border: 2px double $black;
    box-sizing: border-box;
    button {
      margin: 0 1em;
    }
    @include flex($a: center);
    img {
      width: 100%;
    }
  }

  .skillDesc {
    width: 90%;
    margin: 1em auto 0;
    padding: 1em;
    position: relative;
    box-sizing: border-box;
    border: 7px solid burlywood;
    background-color: #2c3e36;
    p {
      margin: 0.5em 0;
      color: $white;
      &::before {
        content: " - ";
      }
      &::after {
        content: "";
        width: 3.125em;
        height: 0.625em;
        background-color: $white;
        position: absolute;
        right: 30%;
        bottom: 0;
      }
    }
  }
}
