@import "reset";

//추억은 잠들지 않는다체
@font-face {
  font-family: "yleeMortalHeartImmortalMemory";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/yleeMortalHeartImmortalMemory.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

//넥스 메이플스토리 Bold 체
@font-face {
  font-family: "MaplestoryOTFBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
//한림 고딕체
@font-face {
  font-family: "HallymGothic-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
$title: "MaplestoryOTFBold";
$fontMemories: "yleeMortalHeartImmortalMemory";
$fontHallym: "HallymGothic-Regular";

$blue: #0554f2, #0540f2, #0528f2;
$white: #f2f2f2;
$black: #010326;

//html 요소의 범위 표시
@mixin line {
  background-color: floralwhite;
  outline: 1px solid red;
}

@mixin flex($a: stretch, $j: space-between, $w: nowrap) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-wrap: $w;
}

.hide {
  display: none;
}

body {
  font-family: $fontHallym;
  color: #010326;
}

h1,
h2,
h3,
h4 {
  font-family: $title;
}

.container {
  height: 100%;
  padding: 6em 0 1em;
  box-sizing: border-box;
  overflow: scroll;
  position: relative;
  z-index: 10;
  h2 {
    font-size: 1.25em;
    text-align: center;
  }
}
@import "app", "card", "introduce", "skill", "project";
